body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr {
    color: #E3ACF9;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;;
    width: 5%;
}

h1 {
    color: #C780FA;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #C780FA;
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #E3ACF9;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #C780FA;
    padding: 20px;
    text-decoration: none;
}

.top-container {
    background-color: #FBF1D3;
    position: relative;
    padding-top: 100px;
    height: 100vh;
    width: 100vw;
}

.middle-container {
    height: 100vh;
    width: 100vw;
}

.bottom-container {   
    background-color: #E3ACF9;
    margin-top: 30px;
}

.copyright {
    margin: 0;
    padding: 20px;
    color: white;
}

.btn {
    background: #E3ACF9;
    background-image: -webkit-linear-gradient(top, #E3ACF9, #C780FA);
    background-image: -moz-linear-gradient(top, #E3ACF9, #C780FA);
    background-image: -ms-linear-gradient(top, #E3ACF9, #C780FA);
    background-image: -o-linear-gradient(top, #E3ACF9, #C780FA);
    background-image: linear-gradient(to bottom, #E3ACF9, #C780FA);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

.contact-desc {
    padding: 20px;
}  

.btn:hover {
    background: #E3ACF9;
    background-image: -webkit-linear-gradient(top, #E3ACF9, #E3ACF9);
    background-image: -moz-linear-gradient(top, #E3ACF9, #E3ACF9);
    background-image: -ms-linear-gradient(top, #E3ACF9, #E3ACF9);
    background-image: -o-linear-gradient(top, #E3ACF9, #E3ACF9);
    background-image: linear-gradient(to bottom, #E3ACF9, #E3ACF9);
    text-decoration: none;
  }

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.photo {
    width: 25%;
}

.web-dev-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.python-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

